.container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    /* border: 1px solid #e0e0e0; */
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    background-image: linear-gradient( rgba(143, 129, 194, 0.781), rgba(206, 92, 136, 0.877));
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1.5rem;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.mb-3 {
    margin-bottom: 1rem;
    color: rgb(206, 24, 69);
    font-size: 30px;
    text-decoration: underline;
    /* background-image: linear-gradient( rgba(143, 129, 194, 0.781), rgba(206, 92, 136, 0.877)); */

}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: top;
}

.table-bordered th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.table-bordered td {
    background-color: #fff;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    color: #6c757d;
    margin-top: 1rem;
}
