<div class="table-container">

    <div>
        <h1 class="heading">User Table </h1>
        <button class="btn" (click) = "addData()"> +Add </button>
    </div>
    <table>
      <thead>
        <tr>
          
          <th>Name</th>
          <th>Status</th>
          <th>Email</th>
          <th>Phone</th>

        </tr>
      </thead>
      <tbody>
        <tr  [routerLink]="['/display-details', user.guidId]" click *ngFor="let user of userdata">
        
       
          <td>{{user.name}}</td>
          <td>{{user.status}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
        
         
        </tr>
      </tbody>
    </table>


  </div>
  
 