

<!-- <img src="assets/bg-pic.jpg" alt="Bg Image" class="background-image"> -->
<style>
  body
  {
    color: brown;
  }
</style>

<div class="login-container" style="background-image: url(/assets/bg-pic.jpg); background-color: rgb(209, 134, 144);">
  

  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username">
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        Username is required
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Password is required
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
