<div class="main-container">
  <div class="form-container">
    <h1 class="heading">Form Data</h1>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
     
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" type="text" />
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input id="status" formControlName="status" type="text" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" />
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select id="gender" formControlName="gender">
          <option value="">Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input id="age" formControlName="age" type="number" />
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input id="phone" formControlName="phone" type="number" />
      </div>
      <div class="form-group">
        <label for="salary">Salary</label>
        <input id="salary" formControlName="salary" type="number" min="0" />
      </div>
      <button
        type="button"
        *ngIf="!isQualificationVisible"
        [disabled]="!areInitialFieldsValid()"
        (click)="toggleQualificationFields()"
      >
        Add Qualification
      </button>
      <div *ngIf="isQualificationVisible">
        <div class="form-group">
          <label for="qualification">Qualification</label>
          <input
            id="qualification"
            formControlName="qualification"
            type="text"
            placeholder="Enter Qualification"
          />
        </div>
        <div class="form-group">
          <label for="experience">Experience (in years)</label>
          <input
            id="experience"
            formControlName="experience"
            type="number"
            placeholder="Enter Experience"
            min="0"
          />
        </div>
        <div class="form-group">
          <label for="institution">Institution</label>
          <input
            id="institution"
            formControlName="institution"
            type="text"
            placeholder="Enter Institution"
          />
        </div>
      </div>
      
      <button type="submit" *ngIf="!userForm.invalid">Submit</button>
    </form>
  </div>
</div>
